body {
    font-family: arial,Helvetica, sans-serif;
    background-color: #67B09A;
    border: 2px solid white;
}

p {
	padding: 10px;
	color: black;
	text-align: center;
}

div {
	padding: 10px;
	background-color: #D37291;
	color: black;
	text-align: center;
}

form {
	padding:5px 5px 70px 5px;
	text-align: center;
	background-color: #98D1BF;

}

.header {
	background-color: #409279;
	padding: 10px;
	text-align: center;
	color: white;
}


